**Realizando a cp**

In [ ]:
!pip install pandas matplotlib seaborn

import matplotlib.pyplot as plt 
import pandas as pd 
import seaborn as sns

In [6]:
df = pd.read_csv ("..\cure_a_princesa.csv")

In [7]:
df.sample() #Função que dá uma linha aleatória.

,Escama de basilisco,Chifre de minotauro,Garra de grifo,Lagrimas de sereia,Chifre de unicornio,Sangue de dragao,Tinta de kraken,Presa de quimera,Curada
749,4.413128,0.0,0.0,59.743819,0.0,NaN,1.301846,12.078985,0.0

In [8]:
df.shape #para mostrar o tamanho da planilha

(1000, 9)

In [27]:
df.info() ##Mostra os dados faltantes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Escama de basilisco  975 non-null    float64
 1   Chifre de minotauro  985 non-null    float64
 2   Garra de grifo       959 non-null    float64
 3   Lagrimas de sereia   977 non-null    float64
 4   Chifre de unicornio  978 non-null    float64
 5   Sangue de dragao     973 non-null    float64
 6   Tinta de kraken      974 non-null    float64
 7   Presa de quimera     977 non-null    float64
 8   Curada               974 non-null    float64
dtypes: float64(9)
memory usage: 70.4 KB

In [ ]:
#Cria uma cópia modificada excluindo dados faltantes sem salvar
df.dropna()

In [25]:
# Cria uma cópia modificada excluindo dados faltantes e salva.
df_clean = df.dropna()

In [26]:
# Remover dados duplicados e salva uma cópia.
df_clean_noduplicate = df_clean.drop_duplicates()

df_clean_noduplicate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 795 entries, 0 to 999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Escama de basilisco  795 non-null    float64
 1   Chifre de minotauro  795 non-null    float64
 2   Garra de grifo       795 non-null    float64
 3   Lagrimas de sereia   795 non-null    float64
 4   Chifre de unicornio  795 non-null    float64
 5   Sangue de dragao     795 non-null    float64
 6   Tinta de kraken      795 non-null    float64
 7   Presa de quimera     795 non-null    float64
 8   Curada               795 non-null    float64
dtypes: float64(9)
memory usage: 62.1 KB

**SANGUE DE DRAGÃO**


*min: 72.345061
max: 133.790739
média: 99.574368*

Presa de Equimera = tóxico

In [24]:
#Gráfico de curados
plt.figure()

sns.kdeplot(df, x="curada")

plt.show()